.name-wall {
    width: 100%;
    height: 150px;
    overflow: hidden;
    padding: 5rem 9%;
    margin-bottom: 5rem;
    position: relative;
    display: flex;
    align-items: center;
    white-space: nowrap;
}

.name-scroll {
    display: inline-block;
    white-space: nowrap;
    animation: scroll 20s linear infinite;
}

.name-wall.paused .name-scroll {
    animation-play-state: paused;
}

.name-item {
    display: inline-block;
    background: #007bfff5;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    margin-right: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.808);
    text-align: center;
}

.name-item:last-child {
    margin-right: 0;
}

.name-item .name {
    font-weight: 700;
    font-size: 20px;
}

.name-item.price{
    font-weight: 500;
    font-size: 15px;
}

.name-item.date{
    font-size: 10px;
}

@keyframes scroll {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(-100%);
    }
}