.select2-container--default .select2-selection--single {
    border: 1px solid #e0e1e2;
    outline: none;
    box-shadow: none;
    height: 38px;
    display: flex;
    align-items: center;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    padding-left: 8px;
    padding-right: 8px;
}

.select2-container .select2-selection--single .select2-selection__arrow {
    height: 38px;
    right: 8px;
}