body{
    background-color: white;
    color: #0e1012;
}

.required:after {
    content: "*";
    color: red;
    font-weight: bold;
    margin-left: 5px;
}

.capitalize {
    text-transform: capitalize;
}

.error {
    color: red;
}

.success {
    color: green;
}

.navCustom {
    background-color: #2176e9;
}

.banner {
    padding: 5px;
    background-color: #2277e9;
    color: white;
}

.big-button {
    width: 200px;
    height: 250px;
    border: none;
    border-radius: 10%;
    margin: 2%;
}

.big-button p{
    font-size: 30px;
}

.switchBgTextBtn {
    background-color: white;
    color: #2176e9;
}

.switchBgTextBtn:hover {
    background-color: white;
    color: #135bbb;
}

.flex {
    margin: 2%;
    display: flex;
    flex-wrap: wrap;
}

.flex img {
    border-radius: 50%;
    width: 10%;
    height: auto;
}


