body{
    background-color: white;
    color: #0e1012;
}

.required:after {
    content: "*";
    color: red;
    font-weight: bold;
    margin-left: 5px;
}

.capitalize {
    text-transform: capitalize;
}

.lowercase {
    text-transform: lowercase;
}

.error {
    color: red;
}

.success {
    color: green;
}

.navCustom {
    background-color: #2176e9;
}

.banner {
    padding: 5px;
    background-color: #2277e9;
    color: white;
}

.big-button {
    width: 200px;
    height: 250px;
    border: none;
    border-radius: 10%;
    margin: 2%;
}

.big-button p{
    font-size: 30px;
}

.switchBgTextBtn {
    background-color: white;
    color: #2176e9;
}

.switchBgTextBtn:hover {
    background-color: white;
    color: #135bbb;
}

.flex {
    margin: 2%;
    display: flex;
    flex-wrap: wrap;
}

.flex img {
    border-radius: 50%;
    width: 10%;
    height: auto;
}

#map { 
    height: 180px;
}

.select2 {
    width:100%!important;
}

.select2-container--default .select2-selection--single {
    border: 1px solid #e0e1e2;
    outline: none;
    box-shadow: none;
    height: 38px;
    display: flex;
    align-items: center;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    padding-left: 8px;
    padding-right: 8px;
}

.select2-container .select2-selection--single .select2-selection__arrow {
    height: 38px;
    right: 8px;
}