body{
    background-color: white;
    color: #0e1012;
}

.required:after {
    content: "*";
    color: red;
    font-weight: bold;
    margin-left: 5px;
}

.capitalize {
    text-transform: capitalize;
}

.lowercase {
    text-transform: lowercase;
}

.error {
    color: red;
}

.success {
    color: green;
}

.navCustom {
    background-color: #2176e9;
}

.banner {
    padding: 5px;
    background-color: #2277e9;
    color: white;
}

.big-button {
    width: 200px;
    height: 250px;
    border: none;
    border-radius: 10%;
    margin: 2%;
}

.big-button p{
    font-size: 30px;
}

.switchBgTextBtn {
    background-color: white;
    color: #2176e9;
}

.switchBgTextBtn:hover {
    background-color: white;
    color: #135bbb;
}

.flex {
    margin: 2%;
    display: flex;
    flex-wrap: wrap;
}

.flex img {
    border-radius: 50%;
    width: 10%;
    height: auto;
}

#map { 
    height: 350px;
}

.select2 {
    width:100%!important;
}

.select2-container--default .select2-selection--single {
    border: 1px solid #e0e1e2;
    outline: none;
    box-shadow: none;
    height: 38px;
    display: flex;
    align-items: center;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    padding-left: 8px;
    padding-right: 8px;
}

.select2-container .select2-selection--single .select2-selection__arrow {
    height: 38px;
    right: 8px;
}

.barCharts {
    width: 100%;
}

.pieCharts {
    width: 50%;
}

.square-box {
    position: relative;
    width: 100px;
    height: 100px;
    overflow: hidden;
}

/* Default styles */
#poverty-content .justify-content-center {
    display: flex;
    justify-content: center;
}

#poverty-content .d-flex {
    display: flex;
    flex-wrap: wrap;
}

#poverty-content .chart-container {
    width: 100%;
    margin-bottom: 20px;
}

#poverty-content .flex-grow-1 {
    width: 100%;
}

/* Media query for laptops and larger devices */
@media (min-width: 1024px) {
    #poverty-content .chart-container {
        width: 40%;
        margin-bottom: 0;
        margin-right: 20px;
    }

    #poverty-content .flex-grow-1 {
        width: calc(60% - 20px);
    }
}